@mixin container{
    max-width: calc(1160px/1440px*100%);
    margin: 0 auto;
    @media screen and (max-width:900px) {
        margin: 0 60px;
    }
}

@mixin mainMG-L{
    margin-left: 200px;
    @media screen and (max-width:900px) {
        margin-left: 0;
        padding-top: 80px;
    }
}