/* Navigation */
$navigationMenu-bg: #058cc2;

/* General */
$white: #fff;
$black: #000;
$bordersWhite: rgba(255, 255, 255, 0.8);

/* Modal */
$modal-close: rgba(216, 40, 40, 0.747);
$modal-close-bd: rgb(165, 33, 33);
$modal-bg: #000000b0;
$modal-content-bg: #00ADEF;

/* Card */
$card-bl: #00ADEF;
$card-bg: #00ADEF;
$card-pos: #0a0a0a;
$card-name: #fcebb5;

$bg: rgba(204, 204, 204, 0.849);
$bg-dp: rgb(175, 169, 169);