/* Navigation */
/* General */
/* Modal */
/* Card */
.rentCar {
  margin-left: 200px;
  padding-top: 50px;
  background-image: url(../images/bg3.jpg);
  background-position: center;
  background-size: cover;
}
@media screen and (max-width: 900px) {
  .rentCar {
    margin-left: 0;
    padding-top: 80px;
  }
}
.rentCar__container {
  max-width: 80.5555555556%;
  margin: 0 auto;
}
@media screen and (max-width: 900px) {
  .rentCar__container {
    margin: 0 60px;
  }
}

.formDuty {
  display: flex;
  flex-direction: column;
  width: 400px;
  gap: 10px;
  border-radius: 15px;
  margin-top: 15px;
  padding: 15px;
  background-color: gray;
}
@media screen and (max-width: 900px) {
  .formDuty {
    width: 100%;
  }
}
.formDuty__group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 900px) {
  .formDuty__group {
    flex-direction: column;
  }
}
.formDuty__select {
  padding: 10px;
  border-radius: 15px;
}
.formDuty__submit {
  padding: 10px;
  border-radius: 15px;
  border: 1px solid black;
  transition: all 0.3s linear;
}
.formDuty__submit:hover {
  cursor: pointer;
  background-color: green;
}

#driver[disabled] {
  background-color: white;
  color: black;
  cursor: not-allowed;
  opacity: 1;
  border: 1px solid #ccc;
}

#carImage {
  width: 100%;
}

.rentCar__form {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

.fade-in {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}

.form {
  width: 100%;
}

.rentCar__form--rightSide {
  width: 100%;
  max-width: 500px;
}
@media screen and (max-width: 900px) {
  .rentCar__form--rightSide {
    display: none;
  }
}

.rentCar__form--leftSide {
  display: contents;
  max-width: 500px;
}

.form__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
@media screen and (max-width: 900px) {
  .form__block {
    flex-direction: column;
  }
}

.form__label {
  flex-basis: 30%;
  text-align: left;
}

.form__input,
.form__select,
.form__textarea {
  flex-basis: 60%;
  width: 100%;
  text-align: left;
  padding: 10px 15px;
  border-radius: 20px;
  border: 1px solid black;
}

.form__textarea {
  height: 70px;
  resize: vertical;
}

.form__buttons {
  display: flex;
  justify-content: space-around;
  gap: 10px;
}
@media screen and (max-width: 900px) {
  .form__buttons {
    flex-direction: column;
  }
}

.form__buttons--submit,
.form__buttons--reset,
.form__buttons--get {
  border: 1px solid black;
  padding: 10px;
  border-radius: 20px;
  transition: all 0.3s linear;
}

.form__buttons--submit {
  background-color: gray;
  flex-basis: 50%;
}

.form__buttons--reset {
  background-color: gray;
  flex-basis: 25%;
}

.form__buttons--get {
  background-color: gray;
  flex-basis: 25%;
}

.form__buttons--reset:hover {
  background-color: red;
  cursor: pointer;
}

.form__buttons--submit:hover {
  background-color: green;
  cursor: pointer;
}

.form__buttons--get:hover {
  background-color: white;
  cursor: pointer;
}

#driversContainer {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  padding: 20px;
}
@media screen and (max-width: 900px) {
  #driversContainer {
    padding: 20px 0 0 0;
  }
}

.driver-column {
  min-width: 200px;
  flex-basis: 20%;
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 8px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.driver-header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  gap: 15px;
  background-color: #00ADEF;
  border-radius: 20px;
  margin-bottom: 10px;
}

.booking-info {
  margin-bottom: 10px;
  padding: 8px;
  border-bottom: 1px solid #ddd;
  border: 1px solid black;
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.icon-label {
  display: flex;
  align-items: center;
}

.icon-label__box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 15%;
}

.icon-label__trip {
  flex-basis: 80%;
}

.icon-label--time {
  flex-direction: column;
}

.duty-info {
  margin: 10px 0;
  font-weight: bold;
}

.toggle-duty-form-btn {
  margin: 10px 0;
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.duty-form {
  margin-top: 10px;
}

.duty-form select {
  padding: 5px;
}

.duty-form button {
  margin-left: 10px;
  padding: 5px 10px;
  background-color: #28a745;
  color: white;
  border: none;
  cursor: pointer;
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  width: 300px;
}

.modal-content select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.modal-content button {
  padding: 10px 15px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.modal-content button.cancel {
  background-color: #f44336;
}/*# sourceMappingURL=rentCar.css.map */